* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    /*reset Firefox user agent styles*/
    -moz-margin-before: 0px;
    -moz-margin-after: 0px;
    -moz-margin-start: 0px;
    -moz-margin-end: 0px;
    -moz-padding-before: 0px;
    -moz-padding-after: 0px;
    -moz-padding-start: 0px;
    -moz-padding-end: 0px;
    /*reset Internet Explorer user agent styles*/
    -ms-margin-before: 0px;
    -ms-margin-after: 0px;
    -ms-margin-start: 0px;
    -ms-margin-end: 0px;
    -ms-padding-before: 0px;
    -ms-padding-after: 0px;
    -ms-padding-start: 0px;
    -ms-padding-end: 0px;
    /*reset Opera user agent styles*/
    -o-margin-before: 0px;
    -o-margin-after: 0px;
    -o-margin-start: 0px;
    -o-margin-end: 0px;
    -o-padding-before: 0px;
    -o-padding-after: 0px;
    -o-padding-start: 0px;
    -o-padding-end: 0px;
}

/* -------------------------------------
General styles (General Module, wrapping around the modules below)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules below (h2, h3, h4, h5, h6, p, a, ul, li))
*/

body {
    background-image: url("images/bokeh-of-lights-photography-1210276.jpg");
    margin: auto;
    text-align: center;
    font-size: 16px;
    /* font-family: 'Langar', cursive; */
    font-family: 'Nunito', sans-serif;
    /* font-family: 'Redressed', cursive; */
}

a {
    color: white;
}

a:visited {
    color: rgb(255, 227, 158)
}

section {
    margin-top: 15px;
    margin-bottom: 15px;
}

section h2 {
    font-size: 30px;
    font-style: italic;
}

p {
    font-size: 24px;
}

li {
    list-style: none;
}

input {
    width: 85%
}

textarea {
    width: 85%;
    height: 4vw
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-around;
}

#hidden {
    display: none;
}

.fade {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0.25) 100%);
}

.profile {
    width: 99%;
    border-radius: 50%;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

.back-bar {
    margin: auto;
    background-image: url(images/transparency-white.png);
    width: 95%;
    padding: 5px;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.search {
    background-image: url("images/transparency-white.png");
    width: 100%;
    border-radius: 0.5rem;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

.back-bar-flex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.back-bar-stack {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.silver-card {
    background-image: url("images/transparency-white.png");
    border-radius: 0.5rem;
    width: 85%;
    padding: 10px;
    margin: 2px;
    border: 1px groove silver;
    border-style: outset;
    border-width: 2px;
}

.grid {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    display: block;
}

.gold-card {
    background-image: url("images/transparency-white.png");
    border-radius: 0.5rem;
    width: 85%;
    display: inline-block;
    padding: 10px;
    border: 1px groove gold;
    border-style: outset;
    border-width: 2px;
    vertical-align: top;
}

.anti-fade {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 0, 0, 0) 100%);
}

.screens {
    width: 100%;
    height: auto;
    margin: 5px;
}

.screen-slide {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  overflow: auto;
  list-style: none;
}

/* -------------------------------------
Header styles (Main Module)
(all the styles inside the < header > or < nav > tags)
*/

header nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    min-height: 30px;
}

/* -------------------------------------
Content styles (Main Module)
(all the styles inside the < sections > or < aside > tags)
*/

section.welcome {
    font-family: 'Langar', cursive;
    font-size: 50px;
    color: white;
}

section.gold-card h2 {
    font-size: 35px;
}

section#projects {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    /* width: 100%; */
    margin: auto;
    padding: 10px;
}

section#projects div.fade {
    color: white;
    width: 100%;
}

ul.back-bar-stack li {
    flex: 1;
}

section#projects div {
    margin-top: 5px;
    margin-bottom: 5px;
}

/*Footer styles (Main Module) (all the styles inside the < footer>tag) */

footer a {
    color: white;
    text-decoration: none;
    background-image: url("images/transparent.jpg");
}

a.credit {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

/* -------------------------------------
place all the desktop styles below this line
Responsive styles
(the very last module in the CSS, contains all the media queries and it is dealing with the compatibility with mobiles and tablets)
place all the mobile tables styles below this line
*/

/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    /* body {
        border: 3px solid green;
    } */
    .silver-card {
        width: 95%;
    }
}

/*Android landscape*/

@media only screen and (min-width: 640px) {
    /* body {
        border: 3px solid pink;
    } */
    .profile-pic {
        width: 50%;
        margin: auto;
    }
    .silver-card {
        width: 85%;
    }
    section#projects ul.back-bar-stack {
        flex: 1;
    }
    .back-bar {
        width: 75%;
        padding: 5px;
        /* margin: auto; */
    }
}

/*iPad potrait*/

@media only screen and (min-width: 768px) {
    /* body {
        border: 3px solid red;
    } */
    .silver-card {
        width: 70%;
    }
}

/*iPad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    /* body {
        border: 3px solid blue;
    } */
}

/*large desktop*/

@media only screen and (min-width: 1600px) {
    /* body {
        border: 3px solid yellow;
    } */
    .silver-card {
        width: 60%;
    }
}